[*.cs]

# IDE0059: Atribuição desnecessária de um valor
dotnet_diagnostic.IDE0059.severity = none

# IDE0040: Adicionar modificadores de acessibilidade
dotnet_diagnostic.IDE0040.severity = none

# IDE0005: O uso da diretiva é desnecessário.
dotnet_diagnostic.IDE0005.severity = none
